body {
    background: #5cb85c;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    width: 330px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.google-btn {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
}

.google-btn:hover {
    background: #f1f1f1;
}
